{%  extends  '::base.html.twig' %}
{%  block  body  %}
{{  form_start(f)  }}
<table>
    <tr>
        <td>{{form_label(f.numSerie)}}</td>
        <td>{{form_widget(f.numSerie)}}</td>
        <td>{{form_errors(f.numSerie)}}</td>
    </tr>
    <tr>
        <td>{{form_label(f.dateMiseCircu)}}</td>
        <td>{{form_widget(f.dateMiseCircu)}}</td>
        <td>{{form_errors(f.dateMiseCircu)}}</td>
    </tr>
    <tr>
        <td>{{form_label(f.marque)}}</td>
        <td>{{form_widget(f.marque)}}</td>
        <td>{{form_errors(f.marque)}}</td>
    </tr>
</table>
{{  form_end(f)  }}
{%  endblock  %}